<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Endangered Species</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f3f3f3;
    }
    h1 {
        text-align: center;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #f5f5f5;
    }
    td.critically-endangered {
        background-color: #ffcccc;
    }
    td.endangered {
        background-color: #ffddcc;
    }
    td.vulnerable {
        background-color: #ccffcc;
    }
    td:hover {
        background-color: #e6e6e6;
    }
</style>
</head>
<body>

<h1>Endangered Species</h1>

<table>
    <tr>
        <th>Common Name</th>
        <th>Scientific Name</th>
        <th>Conservation Status</th>
    </tr>

    <tr>
        <td class="critically-endangered">Amur Leopard</td>
        <td>Panthera pardus orientalis</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Black Rhino</td>
        <td>Diceros bicornis</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Bornean Orangutan</td>
        <td>Pongo pygmaeus</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Cross River Gorilla</td>
        <td>Gorilla gorilla diehli</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Eastern Lowland Gorilla</td>
        <td>Gorilla beringei graueri</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Hawksbill Turtle</td>
        <td>Eretmochelys imbricata</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Javan Rhino</td>
        <td>Rhinoceros sondaicus</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Orangutan</td>
        <td>Pongo abelii, Pongo pygmaeus</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Saola</td>
        <td>Pseudoryx nghetinhensis</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Sumatran Elephant</td>
        <td>Elephas maximus sumatranus</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Sumatran Orangutan</td>
        <td>Pongo abelii</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Sumatran Rhino</td>
        <td>Dicerorhinus sumatrensis</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Sunda Tiger</td>
        <td>Panthera tigris sondaica</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Vaquita</td>
        <td>Phocoena sinus</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Western Lowland Gorilla</td>
        <td>Gorilla gorilla gorilla</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="critically-endangered">Yangtze Finless Porpoise</td>
        <td>Neophocaena asiaeorientalis ssp. asiaeorientalis</td>
        <td class="critically-endangered">Critically Endangered</td>
    </tr>
    <tr>
        <td class="endangered">African savanna elephant</td>
        <td>Loxodonta africana africana</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">African Wild Dog</td>
        <td>Lycaon pictus</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Asian Elephant</td>
        <td>Elephas maximus indicus</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Black-footed Ferret</td>
        <td>Mustela nigripes</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Blue Whale</td>
        <td>Balaenoptera musculus</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Bluefin Tuna</td>
        <td>Thunnus Thynnus</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Bonobo</td>
        <td>Pan paniscus</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Bornean Elephant</td>
        <td>Elephas maximus borneensis</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Chimpanzee</td>
        <td>Pan troglodytes</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Fin Whale</td>
        <td>Balaenoptera physalus</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Galápagos Penguin</td>
        <td>Spheniscus mendiculus</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Ganges River Dolphin</td>
        <td>Platanista gangetica gangetica</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Green Turtle</td>
        <td>Chelonia mydas</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Hector's Dolphin</td>
        <td>Cephalorhynchus hectori</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Humphead Wrasse</td>
        <td>Cheilinus undulatus</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Indian Elephant</td>
        <td>Elephas maximus indicus</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Indus River Dolphin</td>
        <td>Platanista minor</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Irrawaddy Dolphin</td>
        <td>Orcaella brevirostris</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Monarch Butterfly</td>
        <td>Danaus plexippus</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Mountain Gorilla</td>
        <td>Gorilla beringei beringei</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">North Atlantic Right Whale</td>
        <td>Eubalaena glacialis</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Red Panda</td>
        <td>Ailurus fulgens</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Sea Lions</td>
        <td>Zalophus wollebaeki</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Sea Turtle</td>
        <td>Cheloniidae and Dermochelyidae families</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Sei Whale</td>
        <td>Balaenoptera borealis</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Sri Lankan Elephant</td>
        <td>Elephas maximus maximus</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Tiger</td>
        <td>Panthera tigris</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Whale</td>
        <td>Balaenoptera, Balaena, Eschrichtius, and Eubalaen</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="endangered">Whale Shark</td>
        <td>Rhincodon typus</td>
        <td class="endangered">Endangered</td>
    </tr>
    <tr>
        <td class="vulnerable">Bigeye Tuna</td>
        <td>Thunnus obesus</td>
        <td class="vulnerable">Vulnerable</td>
    </tr>
    <tr>
        <td class="vulnerable">Black Spider Monkey</td>
        <td>Ateles paniscus</td>
        <td class="vulnerable">Vulnerable</td>
    </tr>
    <tr>
        <td class="vulnerable">Dugong</td>
        <td>Dugong dugon</td>
        <td class="vulnerable">Vulnerable</td>
    </tr>
    <tr>
        <td class="vulnerable">Giant Panda</td>
        <td>Ailuropoda melanoleuca</td>
        <td class="vulnerable">Vulnerable</td>
    </tr>
</table>

</body>
</html>
